/* define global site variables */
:root {
  --pagewidth: 960px;
  --links: #00C19F;
  --accent: #e5004b;
  --bodytext: #46484b;
}

/* Switch to 'border box', and reset browser margin & padding to zero */
* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}

html {
  font-family: "Roboto Serif", serif;
  font-weight: 400;
  color: var(--bodytext);
  overflow-y: scroll; /* stops horizontal shift due to scrollbar */
  accent-color: var(--accent); /* not required yet, but this will effect checkboxes, radio buttons, progress bars, and ranges  */
  scroll-behavior: smooth;
}


/*  ======================
    SET MEDIA QUERIES
    ====================== */

/* set size for 320px - 768px ≈16px/100% */
@media screen and (min-width: 320px) {
  html {
    font-size: 95%;
    line-height: 1.6;
  }

  article,
  nav {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
  }

   blockquote {
    margin-left: 0px !important;
  }

  ul,
  ol {
    margin-left: 1rem !important;
  }
}

/* set size for >768px 120% */
@media screen and (min-width: 768px) {
  html {
    font-size: 105%;
    line-height: 2;
  }

  article,
  nav {
    padding-left: 3.5rem;
    padding-right: 3.5rem;
  }

  blockquote {
    margin-left: 2rem !important;
  }

  ul,
  ol {
    margin-left: 3rem !important;
  }
}

/*  ======================
    TYPOGRAPHY IMAGES and Summary
    ====================== */

article {
  max-width: var(--pagewidth);
  margin: auto;
  margin-bottom: 20px;
}

p {
  margin: 1.4em 0px;
}

/* Headings - shared */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Roboto Condensed", sans-serif;
  font-weight: 400;
  line-height: 1.6rem;
  /* keep the space between headings tight */
  margin: 0px 0px;
}

/* Headings - individual */
h1 {
  font-size: 2rem;
  text-transform: uppercase;
  line-height: 2.5rem;
  color: var(--accent);
}

h2 {
  font-size: 1.8rem;
  color: var(--accent);
}

h3 {
  font-size: 1.4rem;
}

/* keep the space between any heading and the fist paragraph tight */
:where(h1, h2, h3, h4, h5, h6) + p {
  /* margin-top: 0px; */
}

strong {
  font-weight: 500;
  font-style: italic;
  color: #000000;
}

em {
  font-style: normal;
  font-weight: 500;
  color: var(--accent);
}

/* Links */
a {
  color: var(--links);
  text-decoration: none;
}

a:hover {
  text-decoration: underline solid;
}



/* blockquotes  */
blockquote {
  background: #f9f9f9;
  border-left: 5px solid var(--accent);
  margin: 2rem 0;
  padding: 1rem;
  font-size: 0.9em;
  font-weight: 500;
  font-style: normal;
  display: flex;
  flex-direction: column;
}

.social {
display:flex;
flex-direction:row-reverse;
text-decoration: none;
height: 35px;
  }
/* quotes - should also be used within blockquotes */
q {
  font-style: italic;
  color: black;
  font-weight: 500;
}

ul,
ol {
  margin: 2rem 0;
  line-height: 1.6rem;
}

li::marker {
  color: var(--accent);
}

/* article byline */
.pubdate {
  font-family: "Roboto Condensed", sans-serif;
  font-size: 0.85rem;
  border-bottom: 1px solid var(--accent);
  margin-bottom: 20px;
  padding-bottom: 10px;
}

.avatar {
  width: 50px;
  display:inline-block;
  vertical-align: middle;
  border-radius: 50%;
  border: 1px solid var(--accent);
  margin-right: 1rem;
}

/* Figures & images */
figure {
  margin: 0;
  margin-bottom: 15px;
}

/* images */
img {
  display: block;
  margin: auto;
  max-width: 100%;
  height: auto;
}

/* rule, only used on About page */
hr {
  margin-bottom: 50px;
}

/* automatically add the Summary coloured text before the first paragraph in the TDLR div */
.tldr p:first-child::before {
  font-weight: 500;
  color: #000000;
  text-transform: uppercase;
  content: "Summary: ";
}

/*  ======================
    SOCIAL SHARING
    ====================== */

.sharing {
  font-size: 0.8rem;
  margin-bottom: 2rem;
  padding: 0.5rem 0rem;
  line-height: 0;
}

/*  ======================
    NAVIGATION
    ====================== */

nav {
  display: flex;
  background-color: transparent;
  font-family: "Roboto Condensed", sans-serif;
  text-transform: uppercase;
  max-width: var(--pagewidth);
  margin: auto;
}

.top-bar {
  background:#2D2926;
  margin-bottom: 2rem;
  border-bottom: 1px solid #999999;
}

nav a {
  color: #FFFFFF;
  padding: 3px 15px;
  text-decoration: none;
  font-size: 1rem;
}

nav img {
  width: 25px;
  vertical-align: middle; 
}

nav a:first-child {
margin: 5px 0px 5px -15px;
}

/* a[title="Homepage"] {
margin-left: -10px;
}

a[title="Who made this site, and why?"] {
  margin-right: -10px;
  } */

nav a:hover,
nav a.nav-active {
  text-decoration: none;
}

/* a span is placed between the home and other nav link to split them left and right */
nav span {
  flex: 1;
}

button {
  font-family: "Roboto Condensed", sans-serif;
  text-transform: uppercase;
  color: #ffffff;
  font-size: 0.8rem;
  background: var(--accent);
  padding: 5px 10px 5px 10px;
  text-decoration: none;
  border-style: none;
}

button:hover {
  text-decoration: none;
  cursor: pointer;
}