/* define global site variables */
:root {
  --pagewidth: 960px;
  --links: #00C19F;
  --accent: #e5004b;
  --bodytext: #46484b;
}

/* Switch to 'border box', and reset browser margin & padding to zero */
* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}

html {
  font-family: "Roboto Serif", serif;
  font-weight: 400;
  color: var(--bodytext);
  overflow-y: scroll; /* stops horizontal shift due to scrollbar */
  accent-color: var(--accent); /* not required yet, but this will effect checkboxes, radio buttons, progress bars, and ranges  */
  scroll-behavior: smooth;
}


/*  ======================
    SET MEDIA QUERIES
    ====================== */

/* set size for 320px - 768px ≈16px/100% */
@media screen and (min-width: 320px) {
  html {
    font-size: 95%;
    line-height: 1.6;
  }

  article,
  nav {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
  }

   blockquote {
    margin-left: 0px !important;
  }

  ul,
  ol {
    margin-left: 1rem !important;
  }
}

/* set size for >768px 120% */
@media screen and (min-width: 768px) {
  html {
    font-size: 105%;
    line-height: 2;
  }

  article,
  nav {
    padding-left: 3.5rem;
    padding-right: 3.5rem;
  }

  blockquote {
    margin-left: 2rem !important;
  }

  ul,
  ol {
    margin-left: 3rem !important;
  }
}

/*  ======================
    TYPOGRAPHY IMAGES and Summary
    ====================== */

article {
  max-width: var(--pagewidth);
  margin: auto;
  margin-bottom: 20px;
}

p {
  margin: 1.4em 0px;
}

/* Headings - shared */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Roboto Condensed", sans-serif;
  font-weight: 400;
  line-height: 1.6rem;
  /* keep the space between headings tight */
  margin: 0px 0px;
}

/* Headings - individual */
h1 {
  font-size: 2rem;
  text-transform: uppercase;
  line-height: 2.5rem;
  color: var(--accent);
}

h2 {
  font-size: 1.8rem;
  color: var(--accent);
}

h3 {
  font-size: 1.4rem;
}

/* keep the space between any heading and the fist paragraph tight */
:where(h1, h2, h3, h4, h5, h6) + p {
  /* margin-top: 0px; */
}

strong {
  font-weight: 500;
  font-style: italic;
  color: #000000;
}

em {
  font-style: normal;
  font-weight: 500;
  color: var(--accent);
}

/* Links */
a {
  color: var(--links);
  text-decoration: none;
}

a:hover {
  text-decoration: underline solid;
}



/* blockquotes  */
blockquote {
  background: #f9f9f9;
  border-left: 5px solid var(--accent);
  margin: 2rem 0;
  padding: 1rem;
  padding-right: 3rem;
  font-size: 0.9em;
  font-weight: 500;
  font-style: normal;
  display: flex;
  flex-direction: column;
}

blockquote::after {
  content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' fill='%231DA1F2'%3E%3Cpath d='M19,3H5C3.895,3,3,3.895,3,5v14c0,1.105,0.895,2,2,2h14c1.105,0,2-0.895,2-2V5C21,3.895,20.105,3,19,3z M17.05,9.514 c0,0.086,0,0.171,0,0.343c0,3.257-2.486,7.029-7.029,7.029c-1.371,0-2.657-0.429-3.771-1.114c0.171,0,0.429,0,0.6,0 c1.114,0,2.229-0.429,3.086-1.029c-1.114,0-1.971-0.771-2.314-1.714c0.171,0,0.343,0.086,0.429,0.086c0.257,0,0.429,0,0.686-0.086 c-1.114-0.257-1.971-1.2-1.971-2.4c0.343,0.171,0.686,0.257,1.114,0.343c-0.686-0.6-1.114-1.286-1.114-2.143 c0-0.429,0.086-0.857,0.343-1.2c1.2,1.457,3,2.486,5.057,2.571c0-0.171-0.086-0.343-0.086-0.6c0-1.371,1.114-2.486,2.486-2.486 c0.686,0,1.371,0.257,1.8,0.771c0.6-0.086,1.114-0.343,1.543-0.6c-0.171,0.6-0.6,1.029-1.114,1.371 c0.514-0.086,0.943-0.171,1.457-0.429C17.907,8.743,17.479,9.171,17.05,9.514z'/%3E%3C/svg%3E") url("data:image/svg+xml, %3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' fill='%232867B2'%3E%3Cpath d='M19,3H5C3.895,3,3,3.895,3,5v14c0,1.105,0.895,2,2,2h14c1.105,0,2-0.895,2-2V5C21,3.895,20.105,3,19,3z M9,17H6.477v-7H9 V17z M7.694,8.717c-0.771,0-1.286-0.514-1.286-1.2s0.514-1.2,1.371-1.2c0.771,0,1.286,0.514,1.286,1.2S8.551,8.717,7.694,8.717z M18,17h-2.442v-3.826c0-1.058-0.651-1.302-0.895-1.302s-1.058,0.163-1.058,1.302c0,0.163,0,3.826,0,3.826h-2.523v-7h2.523v0.977 C13.93,10.407,14.581,10,15.802,10C17.023,10,18,10.977,18,13.174V17z'%3E%3C/path%3E%3C/svg%3E");
  width: 30px;
  height: 30px;
}

/* quotes - should also be used within blockquotes */
q {
  font-style: italic;
  color: black;
  font-weight: 500;
}

ul,
ol {
  margin: 2rem 0;
  line-height: 1.6rem;
}

li::marker {
  color: var(--accent);
}

/* article byline */
.pubdate {
  font-family: "Roboto Condensed", sans-serif;
  font-size: 0.85rem;
  border-bottom: 1px solid var(--accent);
  margin-bottom: 20px;
  padding-bottom: 10px;
}

.avatar {
  width: 50px;
  display:inline-block;
  vertical-align: middle;
  border-radius: 50%;
  border: 1px solid var(--accent);
  margin-right: 1rem;
}

/* Figures & images */
figure {
  margin: 0;
  margin-bottom: 15px;
}

/* images */
img {
  display: block;
  margin: auto;
  max-width: 100%;
  height: auto;
}

/* rule, only used on About page */
hr {
  margin-bottom: 50px;
}

/* automatically add the Summary coloured text before the first paragraph in the TDLR div */
.tldr p:first-child::before {
  font-weight: 500;
  color: #000000;
  text-transform: uppercase;
  content: "Summary: ";
}

/*  ======================
    SOCIAL SHARING
    ====================== */

.sharing {
  font-size: 0.8rem;
  margin-bottom: 2rem;
  padding: 0.5rem 0rem;
  line-height: 0;
}

/*  ======================
    NAVIGATION
    ====================== */

nav {
  display: flex;
  background-color: transparent;
  font-family: "Roboto Condensed", sans-serif;
  text-transform: uppercase;
  max-width: var(--pagewidth);
  margin: auto;
}

.top-bar {
  background:#2D2926;
  margin-bottom: 2rem;
  margin-left: -1rem;
  margin-right: -1rem;
  border-bottom: 1px solid #999999;


}

nav a {
  color: #FFFFFF;
  padding: 3px 10px;
  text-decoration: none;
  font-size: 1rem;
}

/* a[title="Homepage"] {
margin-left: -10px;
}

a[title="Who made this site, and why?"] {
  margin-right: -10px;
  } */

nav a:hover,
nav a.nav-active {
  text-decoration: none;
}

/* a span is placed between the home and other nav link to split them left and right */
nav span {
  flex: 1;
}

button {
  font-family: "Roboto Condensed", sans-serif;
  text-transform: uppercase;
  color: #ffffff;
  font-size: 0.8rem;
  background: var(--accent);
  padding: 5px 10px 5px 10px;
  text-decoration: none;
  border-style: none;
}

button:hover {
  text-decoration: none;
  cursor: pointer;
}