/* define global site variables */
:root {
  --pagewidth: 750px;
  --links: #00C19F;
  --accent: #FF6654;
  --bodytext: black;
}

/* Switch to 'border box', and reset browser margin & padding to zero */
* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}

html {
  font-family: "Roboto Serif", serif;
  font-weight: 400;
  color: var(--bodytext);
  overflow-y: scroll; /* stops horizontal shift due to scrollbar */
  accent-color: var(--accent); /* not required yet, but this will effect checkboxes, radio buttons, progress bars, and ranges  */
  scroll-behavior: smooth;
  background-color: #FCFAF6;
}


/*  ======================
    SET MEDIA QUERIES
    ====================== */

/* set size for 320px - 768px ≈16px/100% */
@media (width < 767px) {
  html {
    font-size: 95%;
    line-height: 1.6;
  }

  article {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
  }

  ul,
  ol {
    margin-left: 1rem !important;
  }
}

/* set size for >768px 120% */
@media (width > 768px) {
  html {
    font-size: 105%;
  }

  article {
    padding-left: 3.5rem;
    padding-right: 3.5rem;
  }


  ul,
  ol {
    margin-left: 3rem !important;
  }
}

/*  ======================
    TYPOGRAPHY IMAGES and Summary
    ====================== */

article {
 display:flex;
 flex-direction: column;
 align-items: center;
}

p {
  margin: 0.7rem 0px;
  line-height: 1.9;
  max-width: var(--pagewidth);
}

header + p:first-letter {
  initial-letter: 2;
  padding-right: 0.5rem;
}

/* Headings - shared */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Roboto Slab", serif;
  font-weight: 500;
  line-height: 1.6rem;
  margin: 0px 0px;
  text-wrap: balance;
  max-width: var(--pagewidth);
}

/* Headings - individual */
h1 {
  font-size: 2.5rem;
  line-height: 3.5rem;
  text-align: center;
  margin: 2rem 0;
}

h2 {
  font-size: 1.8rem;
}

h3 {
  font-size: 1.4rem;
}

/* keep the space between any heading and the fist paragraph tight */
:where(h1, h2, h3, h4, h5, h6) + p {
  /* margin-top: 0px; */
}

strong {
  font-weight: 500;
  font-style: italic;
  color: #000000;
}

em {
  font-style: normal;
  font-weight: 500;
  color: var(--accent);
}

/* Links */
a {
  color: var(--links);
  text-decoration: none;
}

a:hover {
  text-decoration: underline solid;
}

/* quotes - should also be used within blockquotes */
q {
  font-style: italic;
}

/* blockquotes  */
blockquote {
  margin: 2rem 0;
  font-size: 1.4rem;
  max-width: calc(var(--pagewidth)*1.5);
  text-align: center;
  line-height: 1.5;
  color: var(--accent);
}

.social {
display:flex;
flex-direction:row-reverse;
text-decoration: none;
height: 35px;
  }


ul,
ol {
  margin: 2rem 0;
  line-height: 1.6rem;
}

li::marker {
  color: var(--accent);
}

/* article byline */
/* article byline and sharing icons */
.pubrow {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-bottom: 1px solid lightgray;
  padding: 1rem 0;
  align-items:center;
}

.pubdate {
  font-family: "Roboto Condensed", sans-serif;
  font-size: 0.85rem;
}

 svg {
  height: 25px;
  margin: 0.8rem;
  transition: all 0.3s ease-in-out;
  vertical-align: bottom;

}

 svg:hover {
  transform: scale(1.2);
}

.pubrow a:hover {
  text-decoration: none;
}


/* Figures & images */
figure {
  margin: 0;
  margin-bottom: 15px;
}

/* images */
img {
  display: block;
  margin: auto;
  max-width: 100%;
  height: auto;
}

/* rule, only used on About page */
hr {
  margin-bottom: 50px;
}

.tldr {
  text-align: center;
  font-style: italic;
}
/*  ======================
    SOCIAL SHARING
    ====================== */

.sharing {
  font-size: 0.8rem;
  margin-bottom: 2rem;
  padding: 0.5rem 0rem;
  line-height: 0;
}


iframe {
  margin: 4rem;
  width: 100%;
  max-width: calc(var(--pagewidth)*1.5);
  height: 2145;
}