@import url("https://fonts.googleapis.com/css2?family=Newsreader:ital,wght@0,400;0,800;1,600&display=swap");

h1 {
  font-size: 2.4em;
  padding: 1rem 1rem 1rem 1rem;
  margin: 0;
  line-height: 1.1;
  text-align: center;
  font-family: "Newsreader", serif;
}
p {
  margin-top: 0;
}

.header {
  padding: 10px;
  max-width: 700px;
  min-width: 350px;
  margin: auto;
  border-top: 1px solid #f1f1f1;
  border-bottom: 1px solid #f1f1f1;
  text-align: center;
}


body {
  padding: 5em;
  font-size: 18px;
  line-height: 24px;
  font-family: "Newsreader", serif;
  text-align: justify;
  font-weight: 400;
}

h2 {
  font-size: 1.2em;
  font-family: "Newsreader", serif;
  font-style: italic;
  margin-bottom: 10px;
  margin-top: 0px;
}

.article {
  max-width: 700px;
  min-width: 350px;
  margin: auto;
  column-gap: 30px;
  column-width: 18em;
  margin-top: 30px;
}
.footer {
  padding: 10px;
  max-width: 700px;
  min-width: 350px;
  margin: auto;
  border-bottom: 1px solid #f1f1f1;

a {
  color: #557a95;
  text-decoration: none;
}

a:visited {
  color: #557a95;
  text-decoration: none;
}

a:active {
  color: #557a95;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}
