
:root {
--fleetfactor: 0.15px;
--percentagefactor: 0.4px;
--chart-radius: 10px;
--boeing-colour: #1D439C;
--airbus-colour: #5197ee;
--background-color: #eeece7;

}

.airbus>div {
  margin-left: auto;
  height: calc((var(--airbus) + var(--boeing))*var(--fleetfactor));
  width: calc(var(--airbus)*var(--percentagefactor));
  margin-bottom: 1rem;
  background: var(--airbus-colour);
  border-radius: var(--chart-radius) 0 0 var(--chart-radius);
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  position: relative;
  border-right: 1px solid var(--background-color);
}


.boeing>div {
  height: calc((var(--airbus) + var(--boeing))*var(--fleetfactor));
  width: calc(var(--boeing)*var(--percentagefactor));
  margin-bottom: 1rem;
  background: var(--boeing-colour);
  border-radius: 0 var(--chart-radius) var(--chart-radius) 0;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  position: relative;
  border-left: 1px solid var(--background-color);
  }

.boeing>div>span,
.airbus>div>span {
position: absolute;
}

.chart {
  display: flex;
  justify-content: center;
  padding: 2rem;
  /* gap: 1rem; */
}

/* .boeing>div:hover  {
  color: var(--boeing-colour);
  box-shadow:0px 0px 30px var(--boeing-colour);
  transition: all 0.2s ease-in;
  text-shadow:#eeece7;
} */

/* .airbus>div:hover  {
  color: var(--airbus-colour);
  box-shadow:0px 0px 30px var(--airbus-colour);
  transition: all 0.2s ease-in;
} */

.chart svg {
  width: 200px;
  height: 30px;
}

.paper {
  background: var(--background-color);
  padding: 1rem;
  margin: 2rem;
  box-shadow: 0 0px 10px rgb(0 0 0 / 20%);
}

.airlines {
  width: 30px;
  /* transform:rotate(90deg); */
}

.logo {
  display: flex;
  justify-content: flex-start;
}

.logo span {
  padding: 5px;
}

.logo img {
  width: 40px;

}