/* body font */
@import url('https://fonts.googleapis.com/css2?family=Roboto+Serif:ital,wght@0,400;0,600;1,400;1,500&display=swap');
/* heading font */
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap');

/* define global page variables, e.g. page and accent colour */
:root {
  --pagewidth: 700px;
  --accent: #3d74bd;
}

html {
  font-family: 'Roboto Serif', sans-serif;
  line-height: 1.8;
  font-weight: 400;
  color: #2e2e2e;
}

/* set size for 320px - 768px ≈16px/100% */
@media screen and (min-width: 320px) {
  html {
    font-size: 100%;
    line-height: 1.6;
  }
  .page {
    padding: 20px;
    margin-top: 10px;
  }
  blockquote{
    margin-left: 0px !important;
  }
}
/* set size for 768px - 1200px ≈18px/110% */
@media screen and (min-width: 768px) {
  html {
    font-size: 110%;
  }
  .page {
    padding: 40px;
    margin-top: 15px;
  }
  blockquote{
    margin-left: 30px !important;
  }
}
/* set size for >1920px ≈19px/120% */
@media screen and (min-width: 1920px) {
  html {
    font-size: 120%;
  }
  .page {
    padding: 60px;
    margin-top: 20px;
  }
  blockquote{
    margin-left: 60px !important;
  }
  :root {
    --pagewidth: 800px !important;
  }
}


body {
  background-color: #ffffff;
}

p {
  margin-bottom: 1.6em;
}

/* set the header section width and padding, cheers Riggers for help with this bit */
header {
  padding: 0px;
  max-width: var(--pagewidth);
  margin: auto;
}

img {
  display: block;
  margin: auto;
  max-width: 100%;
  height: auto;
}
/* set the publication date  style */
.pubdate {
  font-family: "Inter", sans-serif;
  font-style: italic;
  font-size: 0.8em;
}

/* set the  article width and bottom padding */
article {
  max-width: var(--pagewidth);
  margin: auto;
  padding-bottom: 100px;
}

/* set the style of the page outline */
.page {
  background-color: #ffffff;
  border-radius: 5px;
  border: 1px solid LightGrey;
  max-width: calc(var(--pagewidth) * 1.1);
  margin: auto;
  box-shadow: 0px 15px 30px rgb(0 0 0 / 15%);
}

blockquote {
  background: #f9f9f9;
  border-left: 5px solid var(--accent);
  margin:  30px;
  padding: 20px;
  font-style: italic;
  font-size:  0.9em;
  font-weight: 500;

}

/* set the common heading styles */
h1,h2,h3,h4,h5,h6
{
  font-family: 'Roboto Condensed', sans-serif;
  color: #000000;
  font-weight: 400;
  line-height: 1em;
}

/* set individual heading sizes */
h1 {
  font-size: 2em;
  margin-bottom: 0px;
  line-height: 1.4em;
}
h2 {font-size: 1.4em;}
h3 {font-size: 1.2em;}


h2 {
  margin: 0px;
}

/* set the link styles */
a {
  color: var(--accent);
  text-decoration:none;
  font-weight: 400;
}
a:hover {
  text-decoration: underline;
}

/* set the style for code blocks */
pre code {
  background-color: rgb(0, 0, 0);
  border: 1px solid #999;
  display: inline-block;
  padding: 10px;
  color: #cfcfcf;
  border-radius: 7px;
  font-size: 1em;
  /* by default pre code blocks don't word-wrap, the following 2 lines changes this */
  white-space: pre-wrap;
  word-wrap: break-word;
}

/* remove left padding so indents overhang, set disc, and set marker colour */
ul, ol {
padding-left: 0px;
padding-bottom: 1.0em;
line-height: 1.6em;
}

ul {
  list-style-type: disc;
}

::marker {
  color: var(--accent);
}

.homebtn {
  -webkit-border-radius: 5;
  -moz-border-radius: 5;
  border-radius: 5px;
  font-family: Arial;
  color: #ffffff;
  font-size: 16px;
  background: var(--accent);
  padding: 5px 10px 5px 10px;
  text-decoration: none;
  border-style: none;
}

.homebtn:hover {
  filter: brightness(125%);
  text-decoration: none;
  cursor: pointer;
}

figure {
  margin:0;
}
figcaption {
  font-size: 80%;
  margin-top: 5px;
  padding-top: 8px;
  padding-bottom: 25px;
  font-style: italic;
  border-top: 2px solid var(--accent);
}