
:root {
--boeing-colour: #1D439C;
--airbus-colour: #5197ee;
}

infographic-container {
display: flex;
gap: 2rem;
flex-wrap: wrap;
}

chart-container {
  max-width: 250px;
  font-family: "OpenSans", sans-serif;
}

.bar-chart {
  padding: 0.5rem;
  font-size: 0.9rem;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  gap: 5px;
}

.bars {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  color: white;
  font-size: 0.8rem;
  min-width: 50px;
}

/* round-off the top of the top bars */
.bars div:first-of-type{
  border-radius: 7px 7px 0 0;
}

/* round-off the bottom of bottom the bars */
.bars div:last-of-type{
  border-radius: 0 0 7px 7px;
}

/* show the total aircraft for the 1st and last bar */
.bar-total {
  text-align: center;
  color: black;
  font-weight: bold;
  font-size: 1.2rem;
}

.airbus-segment,
.boeing-segment {
  display: flex;
  align-items: center;
  justify-content:center;
}

.boeing-segment {
  background: var(--boeing-colour);
  height: calc(var(--boeing)*0.4px);
}

.airbus-segment {
  background: var(--airbus-colour);
  height: calc(var(--airbus)*0.4px);
}

.bar-logo img {
  width: 50px;
  height: 50px;
  padding: 5px;
}

.difference {
background: white;
}

.difference svg  {
  stroke:rgb(0,0,0);
  stroke-width: 1;
}

.bar-footer {
  color: black;
}

.percentage  {
  background: white;
}

.percentage span {
  color: black;
  text-align: center;
  font-size: 1.5rem;
  line-height: 1;
  font-weight: 500;
}

.bar-footer {
  margin: auto;
  border-top: 1px solid black;
  width: 93%;
  height: 130px;
  display: flex;
  flex-direction: column; 
  justify-content: flex-end;
  align-items: center;
  font-weight: 500;
  gap: 0.5rem;
}

.bar-footer svg {
  width: 60px;
}


