/* get Noto, playfair, and sans pro */
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Noto+Serif:ital,wght@0,400;0,700;1,400;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital@1&family=Source+Sans+Pro:wght@900&display=swap");



body {
  max-width: 1920px;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  margin: auto;
  background-color: rgb(255, 255, 255);
}

main {
  display: flex;
  flex-flow:wrap;
  justify-content:center;
}

header {
  padding-top: 50px;
  text-align: center;
}

h1 {
  margin: 0px;
  font-size: 4em;
  color: black;
  font-family: "Source Sans Pro", sans-serif;
}

h2 {
  font-weight: 600;
  font-size: 1.2em;
}
.card {
  background-color: rgb(255, 255, 255);
  transition: 0.5s;
  width: 300px;
  height: 400px;
  border-radius: 5px;
  border: 1px solid LightGrey;
  margin: 20px;
  position: relative;
  box-shadow: 0px 5px 30px 0px rgb(0 0 0 / 15%);
}

.card:hover {
  box-shadow: 0 0px 10px 0px rgba(0, 0, 0, 15%);
}

img {
  border-radius: 5px 5px 0 0;
}

.container {
  padding: 2px 25px;
  height: 180px;
  bottom: 0;
}

/* set the card link styles */
a {
  font-size: 14px;
  color: black;
  text-decoration: none;
}

/* set the nav link styles */
nav a:link {
  color: #ca0000;
  text-decoration:none;
  font-weight: 400;
  font-size:small
}

nav a:hover {
  text-decoration: underline;
}

nav a:visited {
  color: #ca0000;
}

.date{
  position: absolute;
  bottom: 10px;
}