/* get Noto, playfair, and sans pro */
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Noto+Serif:ital,wght@0,400;0,700;1,400;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital@1&family=Source+Sans+Pro:wght@900&display=swap");
:root {
  --bluish-dark: #353d40;
  --grey-light: #d9d9d9;
  --grey-dark: #a1a5a6;
  --yello: #f2b138;
  --blue: #003f63;
}

body {
  max-width: 1920px;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  margin: auto;
  background-color: #f5f7f8;
}

/* make the header text smaller with smaller screen widths */
@media screen and (min-width: 320px) {
  p.header {
    font-size: calc(14px + 6 * ((100vw - 320px) / 680));
  }
}
@media screen and (min-width: 850px) {
  p.header {
    font-size: 22px;
  }
}

main {
  display: flex;
  flex-flow: wrap;
  justify-content: left;
}

header {
  margin: 30px;
}

/* set title style */
.page-title-only {
  font-size: 2em;
  color: black;
  font-family: "Source Sans Pro", sans-serif;
}

.page-title-rss {
  font-size: 4em;
  color: black;
  font-family: "Playfair Display", serif;
  font-weight: 300;
}

h1 {
  margin: 0px;
}

h2 {
  font-weight: 600;
  font-size: 1.2em;
}
.card {
  background-color: rgb(255, 255, 255);
  transition: 0.5s;
  width: 300px;
  height: 400px;
  border-radius: 2px;
  border-style: solid;
  border-color: rgb(214, 214, 214);
  border-width: 1px;
  margin: 20px;
  position: relative;
}

.card:hover {
  box-shadow: 0 8px 16px 2px rgba(0, 0, 0, 0.2);
}

img {
  border-radius: 2px 2px 0 0;
}

.container {
  padding: 2px 16px;
  height: 180px;
  position: absolute;
  bottom: 0;
}
a {
  font-size: small;
  color: black;
  text-decoration: none;
}
