/* define global site variables */
:root {
  --pagewidth: 960px;
  --hue: 215;
  --saturation: 40%;
  --accent: hsl(var(--hue), var(--saturation), 50%);
  --accent-light: hsl(var(--hue), var(--saturation), 90%);
  --radius: 10px;
  --bodytext: #46484b;
  /* This defines the left/right padding between the browser edge and content for narrow displays. Set here as it's used in <body> and separately for the <nav> (nav uses "absolute" positioning so ignores the padding set on <body>, hence the inclusion as a variable. */
  --viewport-padding: 10px;
}

/*  ======================
    ONLY USED FOR DEBUGGING - comment-out before deployment
    ====================== */

/* body, main, article {
  counter-reset: section;
  counter-reset: section-heading;
}

header {
  border: 1px solid blue;
}

section {
  border: 1px solid red;
  counter-increment: section;
}

h2 {
  counter-increment: section-heading;
}

section>:first-child::before {
  content: ' (section ' counter(section) ') ' ;
  color: red;
}

h2::after {
  content: ' (heading ' counter(section-heading) ')' ;
  color: red;
} */

/* -----------------END OF DEBUGGING SECTION ---------------------------*/

/* Switch to 'border box', and reset browser margin & padding to zero */
* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}

html {
  font-family: "Roboto Serif", serif;
  font-weight: 400;
  color: var(--bodytext);
  overflow-y: scroll; /* stops horizontal shift due to scrollbar */
  accent-color: var(--accent); /* not required yet, but this will effect checkboxes, radio buttons, progress bars, and ranges  */
  scroll-behavior: smooth;
}

body {
  counter-reset: figures;
  padding-left: var(--viewport-padding);
  padding-right: var(--viewport-padding);
}

/*  ======================
    SET MEDIA QUERIES
    ====================== */

/* set size for 320px - 768px ≈16px/100% */
@media screen and (min-width: 320px) {
  html {
    font-size: 95%;
    line-height: 1.6;
  }

  article,
  main,
  aside,
  nav {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
  }

  blockquote {
    margin-left: 0px !important;
  }

  abbr[title]::after{
    content: " (" attr(title) ")";
  }

  ul,
  ol {
    margin-left: 1rem !important;
  }

   .card-body h2 {
    font-size: 1.1rem;
  }
  /* full width learning log table on mobile */
  .learning-log {
    margin: auto;
    width: 100%;
  }

  /* hero image to ignore page padding */
  .img-hero {
    margin-left: -25px;
    margin-right: -25px;
    margin-top: -40px;
    width: calc(100% + 50px);
  }

 img.avatar {
    display: none;
  }
}

/* set size for >768px 120% */
@media screen and (min-width: 768px) {
  html {
    font-size: 105%;
    line-height: 2;
  }

  article,
  main,
  aside,
  nav {
    padding-left: 3.5rem;
    padding-right: 3.5rem;
  }

  blockquote {
    margin-left: 2rem !important;
  }

  abbr::after{
    vertical-align: super;
    content: "?"!important;
    font-size: 80%;
    color: var(--accent);
  }

  ul,
  ol {
    margin-left: 3rem !important;
  }

   .card-body h2 {
    font-size: 0.9rem;
  }
  /* 60% width learning log table desktops/tablets */
  .learning-log {
    margin: auto;
    width: 70%;
  }

  /* set hero image to ignore page padding */
  .img-hero {
    margin-left: -60px;
    margin-right: -60px;
    margin-top: -40px;
    width: calc(100% + 120px);
  }

  img.avatar {
    display: inline-block;
  }

}

/*  ======================
    PAGE DESIGN
    ====================== */

/* the article and aside containers are the same, with the exception of the top padding */

body {
  background-color: #ffffff;
}

article,
main,
aside {
  background-color: #ffffff;
  border-radius: var(--radius);
  border: 1px solid LightGrey;
  max-width: var(--pagewidth);
  /* margin: auto; */
  box-shadow: 0px 0px 10px 0px rgb(0 0 0 / 15%);
  /* margin-bottom: 20px; */
  padding-top: 0px;
  /* margin-left: 10px;
  margin-right: 10px; */
}

/* padding so top of content is below fixed global nav */
header + article,
header + main,
header + main.home-grid {
  margin-top: 3.5rem;
}

article,
main {
  padding-top: 2rem;
}

aside {
  padding-top: 15px;
}

/*  ======================
    TYPOGRAPHY IMAGES and TLDR
    ====================== */

/* Paragraphs */

p {
  margin: 1.4em 0px;
}

/* Headings - shared */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Roboto Condensed", sans-serif;
  color: var(--bodytext);
  font-weight: 400;
  line-height: 1.8rem;
  /* keep the space between headings tight */
  margin: 0.4em 0px;
}

/* Headings - individual */
h1 {
  font-size: 2rem;
  margin-top: 0px;
  text-transform: uppercase;
  line-height: 2.5rem;
  color: var(--accent);
}

h2 {
  font-size: 1.8rem;
  color: var(--accent);
}

h3 {
  font-size: 1.4rem;
}

/* keep the space between any heading and the fist paragraph tight */
:where(h1, h2, h3, h4, h5, h6) + p {
  margin-top: 0px;
}

strong {
  font-weight: 500;
  font-style: italic;
  color: #000000;
}

/* Links */
a {
  color: #000000;
  text-decoration: none;
  transition: color 0.4s;
  /* transition from normal colour to hover colour */
}

/* internal links */
:where(p, li, figcaption, table, .pubdate) a::after {
  position: relative;
  content: "°";
  font-size: 80%;
  color: var(--accent);
}

:where(p, li, figcaption, table, .pubdate) a:hover {
  text-decoration: none;
  color: var(--accent);
}

/* external links */
:where(p, li, figcaption, table, .pubdate) a[href^="http"]::after {
  position: relative;
  content: "°";
  font-size: 80%;
  color: red;
}

:where(p, li, figcaption, table, .pubdate) a[href^="http"]:hover {
  text-decoration: none;
  color: red;
}

/* blockquotes  */
blockquote {
  background: #f9f9f9;
  border-left: 5px solid var(--accent);
  margin: 2rem 0;
  padding: 1rem;
  font-size: 0.8rem
}

blockquote q {
  font-size: 1.1rem;

}

/* quotes - should also be used within blockquotes */
q {
  font-style: italic;
}


/* abbreviations */
abbr {
  text-decoration:none;
}

abbr:hover {
  cursor: help;
}

/* code blocks */
pre code {
  border: 1px solid rgb(221, 221, 221);
  display: inline-block;
  padding: 10px;
  color: #000000;
  border-radius: var(--radius);
  font-size: 0.7rem;
  /* by default pre code blocks don't word-wrap, the following 2 lines changes this */
  white-space: pre-wrap;
  word-wrap: break-word;
}

ul,
ol {
  margin: 2rem 0;
  line-height: 1.6rem;
}

li::marker {
  color: var(--accent);
}

/* article byline and sharing icons */

.pubrow {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 1rem;
  border-bottom: 1px solid var(--accent);
  margin-bottom: 2rem;
}

.pubdate {
  display: flex;
  align-items: center;
  font-family: "Roboto Condensed", sans-serif;
  font-size: 0.85rem;
}

.avatar {
  width: 50px;
  display:inline-block;
  border-radius: 50%;
  border: 2px solid var(--accent);
  margin-right: 1rem;
}

.pubrow svg {
  transition: all 0.7s ease-in-out;
  /* fill: var(--accent); */
  fill: var(--accent);
  width: 35px;
  height: 35px;
  filter: drop-shadow(3px 5px 2px rgb(0 0 0 / 0.1));
}

/* grow on hover*/
.pubrow svg:hover {
  transform: scale(1.3);
  filter: drop-shadow(3px 5px 2px rgb(0 0 0 / 0.3));
}

/* Figures & images */
figure {
  margin: 0;
  margin-bottom: 15px;
}

/* for use when referencing a figure i.e. ...in image below [<span class="fig-ref">fig. 1</span>] */
.fig-ref {
  font-size: smaller;
  font-style: italic;
}

figcaption {
  counter-increment: figures; /* count the number of fig captions */
  font-size: 80%;
  margin-top: 5px;
  padding-top: 8px;
  font-style: italic;
  border-top: 2px solid var(--accent);
}

figcaption::before {
  content: "Figure " counter(figures) ". "; /* display the figure number in the caption */
}

/* images */
img {
  display: block;
  margin: auto;
  max-width: 100%;
  height: auto;
}

/* hero image- size is set in media queries */
.img-hero {
  padding-bottom: 30px;
  max-width: 970px;
  border-radius: var(--radius) var(--radius) 0 0;
}

/* rule, only used on About & subscribe pages */
hr {
  margin-bottom: 25px;
}

/* automatically add the TLDR coloured text before the first paragraph in the TDLR div */
.tldr p:first-child::before {
  font-weight: 500;
  color: #000000;
  text-transform: uppercase;
  content: "tldr: ";
}

/*  ======================
    ARTICLE FEEDBACK IN FOOTER
    ====================== */

article>footer {
  background-color: var(--accent-light);
  border-radius: var(--radius);
  font-weight: 500;
  font-size: 0.8rem;
  margin-bottom: 2rem;
  padding: 0.25rem 1rem;
}

/* removed the link indicator used for all other links */
article>footer a::after {
  content: none;
}
article>footer a {
  color: var(--accent);
}

/* override the internal/external colour for links */
article>footer a:hover {
  color: var(--accent);
}

/*  ======================
    NAVIGATION
    ====================== */

nav ul {
  display: flex;
  gap: 1rem;
  list-style-type: none;
  margin: 0 !important;
}

nav li a {
  padding: 0.6rem 0;
}

/* remove the default link style i.e. "°" */
nav li a::after {
  content: "";
}


nav {
  position: fixed;
  padding-top: 8px;
  padding-bottom: 8px;
  top: 0px;
  background-color: white;
  max-width: var(--pagewidth);
  margin: auto;
  font-family: "Roboto Condensed", sans-serif;
  border-radius: 0 0 var(--radius) var(--radius);
  border: 1px solid LightGrey;
  box-shadow: 0px 0px 10px rgb(0 0 0 / 15%);
  text-transform: uppercase;
  z-index: 1;
  transition: top 0.5s;
  /* this is required as fixed items (like the nav) ignore the containers padding/margin) */
  left: var(--viewport-padding);
  right: var(--viewport-padding);
}

/* this forces all elements to the right of the Home button to move to the far-right */
nav li:first-child {
  margin-right: auto;
}

article,
main,
aside {
  background-color: #ffffff;
  border-radius: var(--radius);
  border: 1px solid LightGrey;
  max-width: var(--pagewidth);
  margin: auto;
  box-shadow: 0px 0px 10px 0px rgb(0 0 0 / 15%);
  margin-bottom: 20px;
}

nav a {
  color: var(--accent);
  padding: 5px 10px;
  text-decoration: none;
  font-size: 17px;
  border-bottom: 3px solid transparent;
}

nav a:hover,
nav a.nav-active {
  border-bottom: 3px solid var(--accent);
  transition: border-color 1s ease;
}



button {
  -webkit-border-radius: var(--radius);
  -moz-border-radius: var(--radius) 5;
  border-radius: var(--radius);
  font-family: "Roboto Condensed", sans-serif;
  text-transform: uppercase;
  color: #ffffff;
  font-size: 0.8rem;
  background: var(--accent);
  padding: 5px 10px 5px 10px;
  text-decoration: none;
  border-style: none;
}

button:hover {
  filter: brightness(125%);
  text-decoration: none;
  cursor: pointer;
}

/*  ======================
    RELATED ARTICLES
    ====================== */

aside h1 {
  color: var(--bodytext);
  font-size: 1.4rem;
}

aside h2 {
  font-size: 1.3rem;
}

aside p {
  line-height: 1.5;
  font-size: 0.8rem;
}

aside h2::after {
  position: relative;
  content: "°";
  font-size: 80%;
  color: var(--accent);
}

aside h2:hover {
  text-decoration: none;
  color: var(--accent);
  transition: color 0.4s;
}

/*  ======================
    DETAILS & SUMMARY
    ====================== */

/* ====== Details and Summary - normal style====== */
.show-me summary {
  cursor: pointer;
  font-weight: 500;
  color: var(--accent);
}

/* remove the focus box, and make focused text underlined, (for users who tab through the page */
.show-me summary:focus {
  outline: 0;
  text-decoration: underline;
}

/* append "open" to the end of summary text */
.show-me summary::after {
  content: " open";
}
/* append "close" to the end of summary text when details is open */
 details.show-me[open] summary::after {
  content: " close";
}

/* ====== Details and Summary for changelog page====== */
.changelog summary {
  font-weight: 400;
  display: flex;
  align-items: center; /* centre them vertically */
  cursor: pointer;
  /* set summary elements to flex to enable the tags to be right-aligned, see below */
}

/* remove the focus box, and make bold the focus state (for users who tab through the page */
.changelog:focus summary {
  outline: 0;
  font-weight: 500;
}

 .changelog {
  background-color: var(--accent-light);
  border-radius: var(--radius);
  line-height: 1.5rem;
  font-size: 0.8rem;
  margin-bottom: 1rem;
  padding: 0.35rem 0.7rem 0.35rem;
}

 .changelog[open] summary {
  border-bottom: 1px solid #aaa;
  margin-bottom: 1rem;
}

/* remove the arrow on iOS */
 .changelog summary::-webkit-details-marker {
  display: none;
}

/* add a radius to all images on the Changelog page in the details elements */
/* THIS WILL TARGET ALL IMAGES IN <DETAILS> ON ANY PAGES THAT USE <MAIN> */
 .changelog img {
  border-radius: var(--radius);
}

/*  ======================
    changelog tags
    ====================== */

/* Add some margin to the last image in the details - otherwise it's too close to the bottom */
.changelog img:last-of-type {
  margin-bottom: 30px;
}
/* define the common style for all span::after (i.e. the tags) within summary elements */
.changelog summary span::after {
  font-family: "Roboto Condensed", sans-serif;
  color: rgb(255, 255, 255);
  border-radius: 3px;
  padding: 2px 5px;
  margin-left: 5px;
  /* add space between tags */
}

/* let the first span (i.e. the date and description) expand to take all the available width (forcing tags to be right-aligned */
.changelog summary span:first-of-type {
  flex: 1;
  /* i.e. flex-grow = 1, the other spans (i.e. tags) will default to flex-grow = 0 */
}

/* set individual tag colours and font sizes, i.e.initialisms are set smaller. */
.performance-tag::after {
  background-color: rgb(180, 163, 66);
  content: "performance";
  font-size: 0.7rem;
}

.ux-tag::after {
  background-color: rgb(71, 69, 187);
  content: "UX";
  font-size: 0.6rem;
}

.content-tag::after {
  background-color: rgb(93, 170, 62);
  content: "content";
  font-size: 0.7rem;
}

.seo-tag::after {
  background-color: rgb(223, 82, 82);
  content: "SEO";
  font-size: 0.6rem;
}

.housekeeping-tag::after {
  background-color: rgb(223, 139, 82);
  content: "housekeeping";
  font-size: 0.7rem;
}

/*  ======================
    social icons
    ====================== */

.icon-row {
  display: flex;
}

/* let icons grow to fit the row width */
a.icons {
  flex: 1;
}

/* the fill colour is set in the HTML SVG, and is unique to each icon */
a.icons svg {
  /* grow on hover for 0.7s  */
  transition: all 0.7s ease-in-out;
  stroke: #2e2e2e;
  /* set stoke colour to match the font colour  */
  stroke-width: 0.3px;
}

/* grow on-hover */
a.icons svg:hover {
  transform: scale(1.3);
}

/* remove the square flash you get "on tap" on mobile */
a.icons:active {
  -webkit-tap-highlight-color: transparent;
  /* This feature is non-standard and should not be used without careful consideration. */
}

/* non editable text field for "subscribe to RSS" field */
.textfield {
  border-radius: var(--radius);
  font-family: "Roboto Condensed", sans-serif;
  text-transform: uppercase;
  font-size: 0.9rem;
  background: rgb(216, 216, 216);
  padding: 5px 10px;
  border-style: none;
  width: 33ch;
}

/*  ======================
    homepage grid
    ====================== */


.home-grid p {
  line-height: 1.8;
}

.home-grid {
  font-family: "OpenSans", sans-serif;
  font-weight: 400;
  background-color: transparent;
  display: flex;
  flex-flow: wrap;
  box-shadow: none;
  border-style: none;
  padding: 0px;
  max-width: 1024px;
  justify-content: center;
}

/* set the card link styles */
.home-grid a {
  font-size: 14px;
  color: black;
  text-decoration: none;
}

/* the cards are made of a card-container (flex column, space-between), at the top of which is a card-img, then the card-body (flex 1), and then the card-footer. The card footer contains 2 divs (flex row space-between) for the date and tag */

.card-container { 
  background-color: rgb(255, 255, 255);
  transition: 0.5s;
  width: 300px;
  height: 400px;
  border-radius: 10px;
  margin: 15px;
  box-shadow: 0 0px 10px rgb(0 0 0 / 20%);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.card-container:hover {
  box-shadow: 0 0px 30px rgba(0, 0, 0, 20%);
}

.card-img {
  border-radius: var(--radius) var(--radius) 0 0;
}

.card-body {
  width: 300px;
  padding: 10px 15px 0px 15px;
  flex: 1;
/* show ellipsis if more than 5 lines (heading and description) */
  overflow: hidden;
  display: -webkit-box !important;
  -webkit-line-clamp: 5;
  -webkit-box-orient: vertical;
  white-space: normal;
  }
  


.card-body h2 {
  font-weight: 600;
  /* font size is set in media queries */
  font-family: "OpenSans", sans-serif;
  line-height: 1.5rem;
}

.card-body p {
  margin-top: 0px;
}
 
.card-footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 10px 15px;
  font-size: 0.75rem
}

/* apply general style to card tags */
.card-tags span::after {
  font-family: "Roboto Condensed", sans-serif;
  color: rgb(255, 255, 255);
  border-radius: 3px;
  padding: 2px 5px;
  margin-left: 5px;
}

/* apply individual content to card tags */
.DataViz-tag::after {
  background-color: #7793df;
  content: "DataViz";
}

.css-tag::after {
  background-color: #a670b1;
  content: "CSS";
}

.productivity-tag::after {
  background-color: #5ca371;
  content: "productivity";
}

.review-tag::after {
  background-color: #d18c6b;
  content: "review";
}

.js-tag::after {
  background-color: #c792c4;
  content: "JS";
}

.misc-tag::after {
  background-color: #c2c2c2;
  content: "Misc";
}

/*  ======================
    exercise randomiser in JavaScript article
    ====================== */

#exercise_card {
  border-radius: var(--radius);
  border: 1px solid LightGrey;
  max-width: 30rem;
  margin: auto;
  padding: 30px;
  padding-left: 60px;
  list-style-position: outside;
  margin-top: 40px;
  margin-bottom: 30px;
}

#todays_exercises {
  list-style-position: outside;
  line-height: 2rem;
  padding-bottom: 0px;
}

/*  ======================
  exercise circuits randomiser in "app"
  ====================== */

#card {
  max-width: 30rem;
  margin: auto;
  padding: 30px;
}

#head {
  text-align: center;
  border-bottom: solid 2px var(--accent);
}

#exercises {
  list-style-position: outside;
  line-height: 1.7rem;
  padding-left: 10%;
  margin-top: 40px;
}

.app-btn-close {
  position: absolute;
  right: 10px;
  top: 10px;
}

/*  ======================
  Learning log tags and table
  ====================== */

/* format tags. Requires both classes below i.e. learning-log + [tag-name] */

.learning-format:before {
  font-size: 0.7rem;
  font-family: "Roboto Condensed", sans-serif;
  color: rgb(255, 255, 255);
  border-radius: 3px;
  padding: 1px 5px;
  margin-left: 5px;
}

.course:before {
  background-color: rgb(101, 168, 75);
  content: "course";
}

.tutorial:before {
  background-color: rgb(153, 75, 168);
  content: "tutorial";
}

.book:before {
  background-color: rgb(82, 143, 223);
  content: "book";
}

.video:before {
  background-color: rgb(226, 128, 99);
  content: "video";
}

/* table formatting - width is set in media queries */
.learning-log {
  margin: auto;
  text-align: left;
  margin-top: 40px;
  margin-bottom: 40px;
  border-collapse: collapse; /* creates single border between cells */
  font-size: 0.85rem;
  box-shadow: 0px 0px 10px 1px rgb(0 0 0 / 15%);
  border-radius: var(--radius) var(--radius) 0 0;
  overflow: hidden;
}

/* set the first column to 15% of the whole table width */
.learning-log th:first-child {
  width: 15%;
}
/* define the header row font and background colour */
.learning-log th {
  font-weight: 500;
  background-color: var(--accent-light);
}

.learning-log th,
.learning-log td {
  padding: 7px 15px;
  /* border-bottom: 0.5px solid rgb(211, 211, 211); */
}

.learning-log tbody tr:last-of-type {
  border-bottom: 3px solid var(--accent-light);
}

/* Progress bar within table cells */
td.progressbar {
  position: relative;
}

/* --progress is in the HTML as an inline style */
td.progressbar:before {
  content: "";
  position: absolute;
  bottom: 8px;
  width: calc(
    var(--progress) * 0.92
  ); /* the x0.92 is to stop the line hitting the right edge of the cell, due to the 15px margin */
  border-bottom: 1pt solid rgb(226, 226, 226);
}

