/* define global site variables */

:root {
  --pagewidth: 960px;
  --accent: SteelBlue;
  --accent-light: #dae6f0; /* Fallback*/
  --radius: 10px;
  --bodytext: darkslategrey;
  --mono-font: Consolas, Menlo, Monaco, "Andale Mono", "Ubuntu Mono", monospace;
  --viewport-padding: 10px;
  --background-color: white;
  --system: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

@supports (--accent-light: color-mix(in srgb, var(--accent), transparent 80%)) {
  :root {
    --accent-light: color-mix(in srgb, var(--accent), transparent 80%);
  }
}


 /* ======================
    ONLY USED FOR DEBUGGING - comment-out before deployment
    ====================== */

/* body, main, article {
  counter-reset: section;
  counter-reset: section-heading;
}

header {
  outline: 1px solid blue;
}

section {
  outline: 1px solid red;
  counter-increment: section;
}

h2 {
  counter-increment: section-heading;
}

section>:first-child::before {
  content: ' (section ' counter(section) ') ' ;
  color: red;
}

h2::after {
  content: ' (heading ' counter(section-heading) ')' ;
  color: red;
}

* {
outline: 1px solid blue;
} */
/* -----------------END OF DEBUGGING SECTION ---------------------------*/

/* Switch to 'border box', and reset browser margin & padding to zero */
* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}

html {
  font-family: "Roboto Serif", serif;
  font-weight: 400;
  color: var(--bodytext);
  scrollbar-gutter: stable;
  accent-color: var(--accent);
  scroll-behavior: smooth;
}

body {
  counter-reset: figures;
  padding-left: var(--viewport-padding);
  padding-right: var(--viewport-padding);
  background-color: var(--background-color);
}

/*  ======================
    SET MEDIA QUERIES
    ====================== */

/* set size for 320px - 768px ≈16px/100% */
@media  (width < 768px) {
  html {
    font-size: 95%;
    line-height: 1.6;
  }

  article,
  main,
  aside,
  global-nav {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
  }

  blockquote {
    margin-left: 0px !important;
  }

  abbr[title]::after{
    content: " (" attr(title) ")";
  }

  ul,
  ol {
    margin-left: 1rem !important;
  }

    card-body h2 {
    font-size: 1.1rem;
  }
  /* full width learning log table on mobile */
  .learning-log {
    width: 100%;
  }

  .byline {
    flex-direction: column;
    gap: 0.5rem;
  }

/* hide thumb images and reduce card height */
  card-container img:first-child {
    display: none;
}

  card-container {
    height: 200px;
  }

}

/* set size for >768px 120% */
@media (width >= 768px) {
  html {
    font-size: 105%;
    line-height: 2;
  }

  article,
  main,
  aside,
  global-nav {
    padding-left: 3.5rem;
    padding-right: 3.5rem;
  }

  blockquote {
    margin-left: 2rem !important;
  }

  abbr::after{
    vertical-align: super;
    content: "\2060?"!important;
    font-size: 80%;
    color: var(--accent);
  }

  ul,
  ol {
    margin-left: 3rem !important;
  }

   card-body h2 {
    font-size: 0.9rem;
  }
  /* 60% width learning log table desktops/tablets */
  .learning-log {
    width: 70%;
  }

  .byline {
    flex-direction: row;
    justify-content: space-between;
    gap: 1rem;
  }

  /* push the byline date text to the far left on wide displays */
  .byline-copy {
    margin-right: auto;
  }

/* show thumb images and increase card height */
  card-container img:first-child {
    display: block;
  }

  card-container {
    height: 400px;
  }

}

/*  ======================
    PAGE DESIGN
    ====================== */

/* the article and aside containers are the same, with the exception of the top padding */

article,
main,
aside {
  background-color: var(--background-color);
  border-radius: var(--radius);
  border: 1px solid LightGrey;
  max-width: var(--pagewidth);
  margin: auto;
  box-shadow: 0px 0px 10px 0px rgb(0 0 0 / 15%);
  padding-top: 0px;
  margin-bottom: 20px;
}


article,
main {
  padding-top: 2rem;
}

aside {
  padding-top: 15px;
}

/*  ======================
    TYPOGRAPHY IMAGES and TLDR
    ====================== */

/* Paragraphs */

p {
  margin: 1.4em 0px;
  text-wrap: pretty;
}

/* Headings - shared */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Roboto Condensed", sans-serif;
  color: var(--bodytext);
  font-weight: 400;
  line-height: 1.8rem;
  /* keep the space between headings tight */
  margin: 0.4em 0px;
}

sup {
  font-size:x-small
}

/* Headings - individual */
h1 {
  font-size: 2rem;
  margin-top: 0px;
  text-transform: uppercase;
  line-height: 2.5rem;
  color: var(--accent);
  text-wrap: balance; /* not yet supported May 2023 */
}

h2 {
  font-size: 1.8rem;
  color: var(--accent);
}

h3 {
  font-size: 1.4rem;
}

/* keep the space between any heading and the fist paragraph tight */
:where(h1, h2, h3, h4, h5, h6) + p {
  margin-top: 0px;
}

strong {
  font-weight: 500;
  font-style: italic;
  color: black;
}

/* define a highlighter pen style with a bit of overspill */
mark {
  margin: 0 -0.3em;
  padding: 0.1em 0.3em;
  border-radius: 0.5em 0.2em;
  background: transparent;
  background-image: linear-gradient(
    to right,
    rgba(255, 225, 0, 0.2),
    rgba(255, 225, 0, 0.6) 20%,
    rgba(255, 225, 0, 0.3)
  );
}

::selection {
 background: yellow;
 text-shadow: gray 2px 2px 10px;
}

/* Links */
a {
  color: black;
  text-decoration: none;
  transition: color 0.4s;
  /* transition from normal colour to hover colour */
}

/* internal links */
:where(p, li, figcaption, table, .byline-copy) a::after {
  position: relative;
  content: "\2060°";
  font-size: 80%;
  color: var(--accent);
}

:where(p, li, figcaption, table, .byline-copy) a:hover {
  text-decoration: none;
  color: var(--accent);
}

/* external links */
:where(p, li, figcaption, table, .byline-copy) a[href^="http"]::after {
  position: relative;
  content: "\2060°";
  font-size: 80%;
  color: red;
}

:where(p, li, figcaption, table, .byline-copy) a[href^="http"]:hover {
  text-decoration: none;
  color: red;
}

/* blockquotes  */
blockquote {
  background: #f9f9f9;
  border-left: 5px solid var(--accent);
  margin: 2rem 0;
  padding: 1rem;
  font-size: 0.8rem;

}

blockquote::before {
  content: open-quote;
  display: block;
  font-size: 4rem;
  line-height: 1;
  margin-bottom: -1.5rem;
  color: var(--accent);
}

blockquote::after {
  content: no-close-quote;
}

blockquote q {
  font-size: 1.1rem;
}

/* Remove quote from the quote in a blockquote */
blockquote q::before, blockquote q::after  {
  content: "";
}

/* quotes - should also be used within blockquotes */
q {
  font-style: italic;
}


/* abbreviations */
abbr {
  text-decoration:none;
}

abbr:hover {
  cursor: help;
}


/* the following has been commented out as code blocks are now styled by prism.css */
/* code blocks */
/* pre code {
  border: 1px solid rgb(221, 221, 221);
  display: inline-block;
  padding: 10px;
  color: black;
  border-radius: var(--radius);
  font-size: 0.7rem;
  white-space: pre-wrap;
  word-wrap: break-word;
} */

/* keyboard buttons */
kbd {
  font-size: 0.85rem;
  font-family: var(--mono-font);
  color: var(--bodytext);
  border: 1px solid var(--bodytext);
  border-bottom: 2.5px solid var(--bodytext);
  border-radius: 4px;
  padding: 0 0.1rem;

}

ul,
ol {
  margin: 2rem 0;
  line-height: 1.6rem;
}

li::marker {
  color: var(--accent);
}

/* Figures & images */
figure {
  margin: 0;
  margin-bottom: 15px;
}

/* for use when referencing a figure i.e. ...in image below [<span class="fig-ref">fig. 1</span>] */
.fig-ref {
  font-size: smaller;
  font-style: italic;
}

figcaption {
  counter-increment: figures; /* count the number of fig captions */
  font-size: 80%;
  margin-top: 5px;
  padding-top: 8px;
  font-style: italic;
  border-top: 2px solid var(--accent);
}

figcaption::before {
  content: "Figure " counter(figures) ". "; /* display the figure number in the caption */
}

/* images */
img {
  display: block;
  margin: auto;
  max-width: 100%;
  height: auto;
}
/* target figures that contain images with an onclick event (e.g. zoom and enhance article */
/* I tried to add the overlay to the img, not the figure, but for some reason it did not appear. */
figure:has(img[onclick])::before {
  position: absolute;
  content: "click/tap to toggle";
  font-weight: 500;
  font-size: 0.9rem;
  padding: 0.4rem;
  color: white;
  background: rgb(0, 0, 0, 70%);
  /* This lets users click through the overlay to the img below */
  pointer-events: none;
}

/* target image with an onclick event (e.g.zoom and enhance article) */
img[onclick] {
cursor:pointer;
/* remove the blue highlight on img tap on mobile */
-webkit-tap-highlight-color: transparent; 
}

/* rule, only used on About & subscribe pages */
hr {
  margin-bottom: 25px;
}

/* automatically add the TLDR coloured text before the first paragraph in the TDLR div */
.tldr p:first-child::before {
  font-weight: 500;
  color: black;
  content: "TLDR: ";
}


/*  ======================
    ARTICLE BYLINE
    ====================== */


.byline {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 1rem;
  border-bottom: 1px solid var(--accent);
  margin-bottom: 2rem;
}

.byline-avatar {
  height: 50px;
  width: 50px;
  border-radius: 50%;
  border: 2px solid var(--accent);
}

.byline-copy {
  font-family: "Roboto Condensed", sans-serif;
  font-size: 0.85rem;
}

/* Turn the "reading time" into a tag */
.byline-copy span {
  background-color: Gainsboro;
  font-family: "Roboto Condensed", sans-serif;
  border-radius: 3px;
  padding: 2px 5px;
  font-size: 0.7rem;
}






button {
  /* -webkit-border-radius: var(--radius);
  -moz-border-radius: var(--radius) 5; */
  border-radius: var(--radius);
  font-family: "Roboto Condensed", sans-serif;
  text-transform: uppercase;
  color: white;
  font-size: 0.8rem;
  background: var(--accent);
  padding: 5px 10px 5px 10px;
  text-decoration: none;
  border-style: none;
  transition: background-color 200ms;
  cursor: pointer;
}

/* Tint the background when hovering */
button:hover {
  background-color: color-mix(in oklch, var(--accent) 100%, white 10%);
}


/* Shade the background when clicked */
button:active {
  background-color: color-mix(in oklch, var(--accent) 100%, black 20%);
}


  /* Hide the focus ring by default */
  button:focus {
    outline: none
  }

  /* Show the focus ring when using non-mouse input */
  button:focus-visible {
    outline: solid 2px var(--accent);
    outline-offset: 1px;
  }

/*  ======================
    RELATED ARTICLES
    ====================== */

aside h1 {
  color: var(--bodytext);
  font-size: 1.4rem;
}

aside h2 {
  font-size: 1.3rem;
}

aside p {
  line-height: 1.5;
  font-size: 0.8rem;
}

aside h2::after {
  position: relative;
  content: "°";
  font-size: 80%;
  color: var(--accent);
}

aside h2:hover {
  text-decoration: none;
  color: var(--accent);
  transition: color 0.4s;
}

/*  ======================
    DETAILS & SUMMARY
    ====================== */

/* ====== Details and Summary - normal style====== */
.show-me summary {
  cursor: pointer;
  font-weight: 500;
  color: var(--accent);
  list-style: none;

}

.show-me {
  border-top: 1px solid var(--accent);
  border-bottom: 1px solid var(--accent);
  padding: 5px 0;
}


/* append "open" to the end of summary text */
.show-me summary::after {
  content: " open";
}
/* append "close" to the end of summary text when details is open */
 details.show-me[open] summary::after {
  content: " close";
}

/* ====== Details and Summary for changelog page====== */

/* This flexbox contains 2 children, the filters (left), and the expand/collapse (right) */
.changelog-actions {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1rem;
}

@media  (width < 500px) {
  .changelog-actions {
    flex-direction: column-reverse;
    gap: 0.5rem;
  }
}

.filter-button-row, .changelog-button-row {
  display: flex;
  height: 1.5rem;
}

.filter-btn, .compact-expand-btn {
  border-radius: 0;
  font-family: "Roboto Condensed", sans-serif;
  text-transform: uppercase;
  color: var(--accent);
  font-size: 0.7rem;
  background: white;
  border: var(--accent-light) 1px solid;
  border-left: none;
  transition: background-color 200ms;
  cursor: pointer;
  padding: 0.3rem 0.4rem 0.3rem 0.4rem;

}

.filter-btn {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  min-width: 40px;
  max-width: max-content;
}

.compact-expand-btn {
  width: 25px;
  padding: 0.2rem;

}

/* hover state is the light accent colour */
.filter-btn:hover, .compact-expand-btn:hover {
  background-color: var(--accent-light);
}


/* Active filter is not clickable, selected state is full accent colour */
.filter-btn.active, .compact-expand-btn.active {
  pointer-events: none;
  background-color: var(--accent);
  color: white;
}

.compact-expand-btn svg path {
  fill: var(--accent);
}

.compact-expand-btn.active svg path {
  fill: white;
}

.compact-expand-btn:first-of-type, .filter-btn:first-of-type {
  border-radius: calc(var(--radius)*0.5) 0 0 calc(var(--radius)*0.5);
  border-left: var(--accent-light) 1px solid;
}


.compact-expand-btn:last-of-type, .filter-btn:last-of-type {
  border-radius: 0 calc(var(--radius)*0.5) calc(var(--radius)*0.5) 0;
}

/* Hide the focus ring by default */
.filter-btn:focus, .compact-expand-btn:focus {
  outline: none
}

/* Show the focus ring when using non-mouse input */
.filter-btn:focus-visible, .compact-expand-btn:focus-visible {
  outline: solid 2px var(--accent);
  outline-offset: 1px;
}


  /* set summary elements to flex to enable the tags to be right-aligned */
.changelog summary {
  font-weight: 400;
  display: flex;
  align-items: center; /* centre them vertically */
  cursor: pointer;
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0); /* remove the highlight when tapped */
}

/* remove the focus box, and make bold the focus state (for users who tab through the page */
.changelog:focus summary {
  outline: 0;
  font-weight: 500;
}

 .changelog {
  background-color: var(--accent-light);
  border-radius: var(--radius);
  line-height: 1.5rem;
  font-size: 0.8rem;
  margin-bottom: 1rem;
  padding: 0.35rem 0.7rem 0.35rem;

}

/* append ">" to the start of summary text */
.changelog summary::before {
  content: url("data:image/svg+xml,%3Csvg viewBox='0 0 6 10' height='10' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M 1 1 L 5 5 l -4 4' stroke='black'/%3E%3C/svg%3E");
  margin-right: 0.5rem;
  font-size: 1.3rem;
  width: 1.5rem;
  height: 1.5rem;
  text-align: center;
  border-radius: 7px;
  background-color: white;
  display: inline-block;
  margin-left: -5px;
  transition: transform 0.3s ease-out;
}

/* rotate when opened/closed */
.changelog[open] summary::before {
  transform: rotate(90deg);
  -webkit-transform: rotate(90deg); /* added this line for Safari - yet it still doesn't work on Safari :-( */
}

/* remove the arrow on iOS */
 .changelog summary::-webkit-details-marker {
  display: none;
}

/* add a radius to all images on the Changelog page in the details elements */
/* THIS WILL TARGET ALL IMAGES IN <DETAILS> ON ANY PAGES THAT USE <MAIN> */
 .changelog img {
  border-radius: var(--radius);
}

/*  ======================
    changelog tags
    ====================== */

/* Add some margin to the last image in the details - otherwise it's too close to the bottom */
.changelog img:last-of-type {
  margin-bottom: 30px;
}

/* let the first span (i.e. the date and description) expand to take all the available width (forcing tags to be right-aligned */
.changelog summary span:first-of-type {
  flex: 1;
  /* i.e. flex-grow = 1, the other spans (i.e. tags) will default to flex-grow = 0 */
}

/* define the common style for  tags) within summary elements and filter labels */
:where(ux-tag, performance-tag, content-tag, seo-tag, housekeeping-tag)::after, .changelog-filters label {
  font-family: "Roboto Condensed", sans-serif;
  color: rgb(255, 255, 255);
  border-radius: 3px;
  padding: 2px 5px;
  margin-left: 5px;
  font-size: 0.7rem;
}

/* set individual tag colours */
performance-tag::after, .changelog-filters label[for="performance"] {
  background-color: rgb(180, 163, 66);
  content: "performance";
}

ux-tag::after, .changelog-filters label[for="ux"] {
  background-color: rgb(71, 69, 187);
  content: "UX";
}

content-tag::after, .changelog-filters label[for="content"] {
  background-color: rgb(93, 170, 62);
  content: "content";
}

housekeeping-tag::after, .changelog-filters label[for="housekeeping"] {
  background-color: rgb(223, 139, 82);
  content: "housekeeping";
}

/*  ======================
    social icons
    ====================== */

.icon-row {
  display: flex;
}

/* let icons grow to fit the row width */
a.icons {
  flex: 1;
}

/* the fill colour is set in the HTML SVG, and is unique to each icon */
a.icons svg {
  /* grow on hover for 0.7s  */
  transition: all 0.7s ease-in-out;
  stroke: #000000;
  stroke-width: 0.3px;
}

/* grow on-hover */
a.icons svg:hover {
  transform: scale(1.3);
}

/* remove the square flash you get "on tap" on mobile */
a.icons:active {
  -webkit-tap-highlight-color: transparent;
  /* This feature is non-standard and should not be used without careful consideration. */
}

/* non editable text field for "subscribe to RSS" field */
.textfield {
  border-radius: var(--radius);
  font-family: "Roboto Condensed", sans-serif;
  text-transform: uppercase;
  font-size: 0.9rem;
  background: lightgray;
  padding: 5px 10px;
  border-style: none;
  width: 33ch;
}

/*  ======================
    homepage grid
    ====================== */

  /* filter row on homepage */
  search {
    margin: auto;
    max-width: var(--pagewidth);
    margin-bottom: 1rem;
  }

.home-grid {
  font-family: "OpenSans", sans-serif;
  font-weight: 400;
  background-color: transparent;
  display: flex;
  flex-flow: wrap;
  box-shadow: none;
  border-style: none;
  padding: 0px;
  max-width: 1024px;
  justify-content: center;
  gap: 1.8rem;
}

/* set the card link styles */
.home-grid a {
  font-size: 14px;
  color: black;
  text-decoration: none;
}

/* the cards are made of a card-container (flex column, space-between), at the top of which is a card-img, then the card-body (flex 1), and then the card-footer. The card footer contains 2 divs (flex row space-between) for the date and tag */

card-container { 
  background-color: white;
  transition: 0.5s;
  width: 300px;
  /* height: 400px; */
  border-radius: 10px;
  /* margin: 15px; */
  box-shadow: 0 0px 10px rgb(0 0 0 / 20%);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  line-height: 1.8;
}

card-container:hover {
  box-shadow: 0 0px 30px rgba(0, 0, 0, 20%);
}

card-header img {
  border-radius: var(--radius) var(--radius) 0 0;
  filter: saturate(75%);
  transition: filter 500ms ease;
}

/* when you hover on the card, over saturate the image */
card-container:hover > card-header img {
  filter: saturate(125%);
}

card-header {
  display: block;
}

card-body {
  width: 300px;
  padding: 10px 15px 0px 15px;
  flex: 1;
/* show ellipsis if more than 5 lines (heading and description) */
  overflow: hidden;
  display: -webkit-box !important;
  -webkit-line-clamp: 5;
  -webkit-box-orient: vertical;
  white-space: normal;
  }

card-body h2 {
  font-weight: 600;
  /* font size is set in media queries */
  font-family: "OpenSans", sans-serif;
  line-height: 1.5rem;
  text-wrap: balance;
}

card-body p {
  margin-top: 0px;
}
 
card-footer {
  display: flex;
  padding: 10px 15px;
  font-size: 0.75rem
}

/* Let the datestamp grow to fill the space and push the tags to the right */
card-footer div:first-child {
  flex: 1;
}

/* apply general style to card tags */
:where(dataviz-tag, misc-tag, webdev-tag, review-tag, productivity-tag, prodman-tag)::after {
  font-family: "Roboto Condensed", sans-serif;
  color: rgb(255, 255, 255);
  border-radius: 3px;
  padding: 2px 5px;
  margin-left: 5px;
}

/* apply individual content to card tags */
dataviz-tag::after {
  background-color: #7793df;
  content: "DataViz";
}

productivity-tag::after {
  background-color: #5ca371;
  content: "Productivity";
}

review-tag::after {
  background-color: #d18c6b;
  content: "Review";
}

webdev-tag::after {
  background-color: #c792c4;
  content: "WebDev";
}

misc-tag::after {
  background-color: #5a5a5a;
  content: "Misc";
}

prodman-tag::after {
  background-color: #aa1585;
  content: "Product Management";
}

/*  ======================
    exercise randomiser in JavaScript article
    ====================== */

#exercise_card {
  border-radius: var(--radius);
  border: 1px solid LightGrey;
  max-width: 30rem;
  margin: auto;
  padding: 30px;
  padding-left: 60px;
  list-style-position: outside;
  margin-top: 40px;
  margin-bottom: 30px;
}

#todays_exercises {
  list-style-position: outside;
  line-height: 2rem;
  padding-bottom: 0px;
}

/*  ======================
  exercise circuits randomiser in "app"
  ====================== */


#card {
  max-width: 30rem;
  margin: auto;
  padding: 30px;
  font-family:'OpenSans', sans-serif;
}

#head {
  text-align: center;
  border-bottom: solid 2px var(--accent);
}

#exercises {
  list-style-position: outside;
  line-height: 1.3rem;
  padding-left: 10%;
  margin-top: 40px;
  font-size: 0.9rem;
}

.app-btn-close {
  position: absolute;
  right: 10px;
  top: 10px;
}

/*  ======================
  Learning table
  ====================== */

/* table formatting - width is set in media queries */
.learning-log {
  table-layout:fixed;
  margin: auto;
  text-align: left;
  margin-top: 40px;
  margin-bottom: 40px;
  border-collapse: collapse; /* creates single border between cells */
  box-shadow: 0px 0px 10px 1px rgb(0 0 0 / 15%);
  border-radius: var(--radius) var(--radius) 0 0;
  overflow: hidden;  /* border radius option above does not work without this  */
  font-family: "Roboto Condensed", sans-serif;
  color:var(--bodytext);
}

/* define the header row font and background colour */
.learning-log th {
  font-weight: 400;
  color: black;
  background-color: var(--accent-light);
}

/* pad all header and cell elements */
.learning-log th,
.learning-log td {
  padding: 7px 10px;
}

/* fix the width of the 1st column, i.e. the tag column */
.learning-log th:nth-child(1) {
  width: 70px;
}

/* set the last column, i.e the progress indicator to a fixed percentage */
.learning-log th:nth-child(3) {
  width: 30%;
}

/* set column 2 i.e. resource name and link to truncate and show ellipsis */
.learning-log td:nth-child(2) {
  display: block;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

/* override the usual link colour of black */
.learning-log a{
  color: var(--bodytext);
}

/* define the style of the progress container */
progress-meter {
  display: block;
  height: 10px;
  box-shadow: 0px 0px 6px 1px rgba(0,0,0,0.1);
  border-radius: 5px;
  padding: 1px;
}

/* define the style of the inside of the progress container */
progress-percent {
  display: block;
  height: 100%;
  overflow: hidden;
  border-radius: 5px;
  background-color: LightCoral;
  width: calc(var(--progress) * 1%);
  font-family: "Roboto Condensed", sans-serif;
}

/* change the colour when the progress is 100% */
progress-percent[style="--progress: 100"] {
  display: block;
  height: 100%;
  overflow: hidden;
  border-radius: 6px;
  background-color: LightSeaGreen;
  width: calc(var(--progress) * 1%);
  font-family: "Roboto Condensed", sans-serif;
}

/* format the common tag elements */
:where(course-tag, tutorial-tag, book-tag, video-tag ):before {
  font-size: 0.7rem;
  font-family: "Roboto Condensed", sans-serif;
  color: white;
  border-radius: 3px;
  padding: 1px 5px;
  margin-left: 5px;
}

/* now format the specific tags, including the text */
course-tag:before {
  background-color: rgb(101, 168, 75);
  content: "course";
}

tutorial-tag:before {
  background-color: rgb(153, 75, 168);
  content: "tutorial";
}

book-tag:before {
  background-color: rgb(82, 143, 223);
  content: "book";
}

video-tag:before {
  background-color: rgb(226, 128, 99);
  content: "video";
}

@media print {

  /* reduce the root font size */
  :root {
    font-size:small;
  }

  /* Hide nav and outline */
  table-of-contents, global-nav, .byline-svgs, aside, footer  {
      display: none;
    }

 /* Hide article border */
    article, main {
      border: none;
      box-shadow: none;
    }

  }

/*  ======================
  Image gallery (requires <dialog-image> Web Component)
  ====================== */

  .image-gallery {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    margin: 2rem 0;
    -webkit-tap-highlight-color: transparent;
  }

  .image-gallery > dialog-image {
    flex-grow: 1;
    height: 150px;
    cursor: pointer;
    position: relative;
  }

  .image-gallery > dialog-image > a > img {
    object-fit: cover;
    width: 100%;
    height: 100%;
    vertical-align: middle;
    border-radius: 5px;
  }

   .image-gallery::after {
    content: "";
    flex-grow: 999;
  }

  /* don't allow background content to scroll when the dialog is open */
  body:has(dialog[open]) {
    overflow: hidden;
  }

/*  ======================
  Web Components - see web-components.js for innerHTML
  ====================== */

/* —————image dialog modal popup Web Component————— */

dialog-image {

  & dialog {
      border: solid white 2px;
      background: rgba(0, 0, 0, 0.9);
      margin: auto;
      border-radius: var(--radius);
      box-shadow: 0px 0px 20px rgba(0, 0, 0, 1);
      padding-bottom: 1rem;
      cursor:auto;
    }

    & ::backdrop {
      background: rgba(0, 0, 0, 0.8);
      backdrop-filter: blur(4px);
    }

    & form {
        display: flex;
        flex-direction: column;
        align-items: center;

        & p {
          padding: 0rem 3rem;
          color: white;
          font-family: var(--system);
          line-height: 1.6;
        }

        @media  (width < 768px) {
          & p {
          padding: 0rem 1rem;
          }
        }
  }

}

/* Feedback footer Web Component */

feedback-contact {

  display: block;
  background-color: var(--accent-light);
  border-radius: var(--radius);
  font-weight: 500;
  font-size: 0.8rem;
  margin: 2rem 0;
  padding: 0.25rem 1rem;

    & a {
      color: var(--accent); 
        }

}

/* —————social icons Web Component————— */

reddit-icon {
  -webkit-mask: url("data:image/svg+xml,%3Csvg viewBox='0 0 24 24' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M13.92 14.87c.07.07.07.19 0 .26-.4.4-1.03.6-1.91.6l-.01-.01c-.9 0-1.52-.2-1.92-.59a.18.18 0 0 1 0-.26c.07-.07.2-.07.26 0 .3.32.87.48 1.65.48H12c.8 0 1.3-.16 1.66-.48a.18.18 0 0 1 .26 0Zm-.1-2.86a.79.79 0 0 0-.79.79.79.79 0 0 0 1.58 0 .79.79 0 0 0-.79-.79Zm-2.85.79a.79.79 0 0 0-1.58 0 .79.79 0 0 0 1.58 0ZM21 5v14c0 1-1 2-2 2H5c-1 0-2-1-2-2V5c0-1 1-2 2-2h14c1 0 2 1 2 2Zm-3 6.89a1.3 1.3 0 0 0-2.25-.95 6.8 6.8 0 0 0-3.48-1.02L13 7.58l2 .47v.03a1.09 1.09 0 0 0 2.17 0 1.09 1.09 0 0 0-2.1-.39l-2.16-.5a.18.18 0 0 0-.22.12l-.82 2.6a7 7 0 0 0-3.65 1.01 1.32 1.32 0 1 0-1.57 2.1 2.4 2.4 0 0 0-.04.43c0 1.96 2.4 3.55 5.36 3.55 2.95 0 5.35-1.6 5.35-3.55 0-.13 0-.27-.03-.4.41-.23.7-.66.7-1.16Z'/%3E%3C/svg%3E");
}

fb-icon {
  -webkit-mask: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' %3E%3Cpath d='M19,3H5C3.895,3,3,3.895,3,5v14c0,1.105,0.895,2,2,2h7.621v-6.961h-2.343v-2.725h2.343V9.309 c0-2.324,1.421-3.591,3.495-3.591c0.699-0.002,1.397,0.034,2.092,0.105v2.43h-1.428c-1.13,0-1.35,0.534-1.35,1.322v1.735h2.7 l-0.351,2.725h-2.365V21H19c1.105,0,2-0.895,2-2V5C21,3.895,20.105,3,19,3z'%3E%3C/path%3E%3C/svg%3E");
}

x-icon {
  -webkit-mask: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath d='M5.1 21h13.8c1.2 0 2.1-1 2.1-2.1V5.1C21 3.9 20 3 18.9 3H5.1C3.9 3 3 4 3 5.1v13.8C3 20.1 4 21 5.1 21Zm5.5-8.4L5.8 6.1h3.7l3.2 4.3L16.6 6h1l-4.4 5 5 6.8h-3.7l-3.4-4.6-4.3 4.6h-1l4.8-5.3ZM9.1 6.9H7.4l7.5 10.2h1.8L9 6.9Z'/%3E%3C/svg%3E");
}

linkedin-icon {
  -webkit-mask: url("data:image/svg+xml,%3Csvg viewBox='0 0 24 24' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M19 3H5a2 2 0 0 0-2 2v14c0 1.1.9 2 2 2h14a2 2 0 0 0 2-2V5a2 2 0 0 0-2-2ZM9 17H6.5v-7H9v7ZM7.7 8.7c-.8 0-1.3-.5-1.3-1.2S7 6.3 7.8 6.3c.8 0 1.3.5 1.3 1.2s-.5 1.2-1.4 1.2ZM18 17h-2.4v-3.8c0-1-.7-1.3-1-1.3-.3 0-1 .1-1 1.3V17h-2.5v-7h2.5v1c.3-.6 1-1 2.2-1 1.2 0 2.2 1 2.2 3.2V17Z'%3E%3C/path%3E%3C/svg%3E");
}

email-icon {
  -webkit-mask: url("data:image/svg+xml,%3Csvg viewBox='0 0 24 24' xmlns='http://www.w3.org/2000/svg' %3E%3Cpath d='M3 7.5V19c0 1.1 1 2 2 2h14a2 2 0 0 0 2-2V7.7l-8.9 6.7-9.1-7ZM21 5l-9 6.8L3 5c0-1.1 1-2 2-2h14c1.1 0 2 1 2 2Z'/%3E%3C/svg%3E");
}

/* this targets all decendents of the <a> tag, i.e. each of the cutsom HTML elements used for the social icons defined in the URLs above */

social-icons {
  display: inline-flex;
  height: 35px;
  & a {
    filter: drop-shadow(0 0 5px rgb(0 0 0 / 0.3));
      & * {
        display: inline-block;
        transition: all 0.7s ease-in-out;
        width: 35px;
        height: 35px;
        background-color: var(--accent);
          &:hover {
            transform: scale(1.3);
          }
      }
  }
}


/* —————Table of Contents Web Component————— */

table-of-contents {

  width: 200px;
  position: fixed;
  margin-left: calc(50vw - 750px);
  font-family: "Roboto Condensed", sans-serif;
  color: var(--accent);
  padding-left: 1rem;
  border-left: 2px solid var(--accent-light);

    @media (width > 1550px) {
      display: block;
      animation: fade-in 0.5s ease-in;
    }
    
    @media (width <= 1550px) {
      display: none;
      animation: fade-out 0.5s ease-out;
    }

    & ul {
      margin: 0;
      padding: 0;
      font-size: 0.9rem;
    }

    & li {
      text-overflow: ellipsis;
      overflow: hidden;
      white-space: nowrap;
      line-height: 1.7;
      margin-left: -40px;

      & :last-of-type {
          margin-bottom: 1rem;
        }

        & a::after {
          content: "";
        }

    }
}

    
    /* Define the fade-in animation */
    @keyframes fade-in {
      from {
        opacity: 0;
        display: none;
      }
      to {
        opacity: 1;
        display: block;
      }
    }
    
    /* Define the fade-out animation */
    @keyframes fade-out {
      from {
        display: block;
        opacity: 1;
      }
      to {
        display: none;
        opacity: 0;
      }
    }



/* —————global nav Web Component————— */

/* add some scrollmargin so the heading or top of figure is visible below the fixed global navigation */
h2, figure {
  scroll-margin-top: 55px;
}

/* make the nav stick to the top of the page when the gap benwteen the nav and the top of the page is zero i.e. always */


global-nav {
  display: block;
  padding-top: 8px;
  padding-bottom: 8px;
  background-color: white;
  max-width: var(--pagewidth);
  margin: auto;
  font-family: "Roboto Condensed", sans-serif;
  border-radius: 0 0 var(--radius) var(--radius);
  border: 1px solid LightGrey;
  box-shadow: 0px 0px 10px rgb(0 0 0 / 15%);
  text-transform: uppercase;
  position: sticky;
  top: 0;
  z-index: 1;
  margin-bottom: 1rem;

  & ul {
    display: flex;
    gap: 1rem;
    list-style-type: none;
    margin: 0 !important;
  }

  & li {
    & a {
    padding: 0.6rem 0;
        /* remove the default link style i.e. "°" */
        &::after {
          content: "";
        }
    }

    /* this forces all elements to the right of the Home button to move to the far-right */
    &:first-child {
      margin-right: auto;
    }
  }

  & a {
    color: var(--accent);
    padding: 5px 10px;
    text-decoration: none;
    font-size: 17px;
    border-bottom: 3px solid transparent;
      &:hover,
      &.nav-active {
        border-bottom: 3px solid var(--accent);
        transition: border-color 1s ease;
    }
  }

}