

@font-face {
    font-family: print;
    src: url(../fonts/Oldnewspapertypes-449D.ttf);
}

body {
  margin: auto;
  width: 500px;
  background-color: #f9f7f1;
  font-family: 'print', serif;
  color: black;
  padding: 6em;
}

h1 {
    text-transform: uppercase;
    line-height: 0em;
    padding: 1em 0 0.2em 0; 

}

p {
  line-height: 1.4em;
  margin:0px; 
  text-align: justify;
  
}

h1 + p:first-letter {
  float: left;
  font-size: 2.3rem;
  line-height: 1;
  margin: 0 0.1em 0 -0.1em;
  padding: 0.1em;
}

p + p {
    text-indent: 2.3em;
}

.code {
margin: auto;
width: 50%;
padding: 1em;
}