
:root {
--chart-radius: 5px;
--background-color: #eeece7;
--x-axis-max: 700;
--y-axis-max: 200;
}


/* rotate segment labels on mobile displays */
@media screen and (min-width: 320px) {
.paper {
  font-size: 0.6rem;
}

}

/* remove text rotating on larger displays */
@media screen and (min-width: 768px) {
  .paper {
    font-size: 0.8rem;
  }

}

.paper {
  background: var(--background-color);
  padding: 0.5rem;
  box-shadow: 0 0px 10px rgb(0 0 0 / 20%);
  font-family: "OpenSans", sans-serif;
  aspect-ratio: 1;   /* keep it square */
  margin-top: 1rem;
  margin-bottom: 1rem;
}



.chart {
  margin: 3rem;
  position: relative;
  aspect-ratio: 1;   /* keep it square */
  border: 1px grey solid;
 }

 .quantity {
  position: absolute;
  width: calc(var(--quant)*0.15%);
  aspect-ratio: 1;
  border-radius: 50%;
  border: 1px solid grey;
  background-color: rgb(163, 209, 77);
  left: calc((var(--x-pos)/var(--x-axis-max))*100%);
  /* had to do the following (i.e. 1-...) as the translate only works correctly when reference the top left */
  top: calc((1 - ((var(--y-pos)/var(--y-axis-max))))*100%);
  /* the following transform is required so that the positioning above works on the centre of the circle. */
  transform: translate(-50%, -50%);
  display: grid;
  place-items: center;
}

/* position the fleet size labels */
.quantity>div {
  position: absolute;
  bottom: -2rem;
}

/* move the x axis values to the bottom of the chart */
.x-ticks {
  position: absolute;
  bottom: -3.2rem;
  width: 100%;
}

/* spread the x axis labels out along the x-axis */
.x-ticks div:first-child {
  display:flex;
  justify-content: space-between;

}

/* center the x-axis description */
.x-label {
display: flex;
justify-content: center;
}

/* move the x axis values to the bottom of the chart */
.y-ticks {
  position: absolute;
  height: 100%;
  top: 0rem;
  left: -2rem;
}
  
  /* spread the x axis labels out along the x-axis */
.y-ticks div:first-child {
  height: 100%;
  display:flex;
  flex-direction: column-reverse;
  justify-content: space-between;
}
  
/* center the x-axis description */
.y-label {
  text-align: center;
  transform: rotate(-90deg);
}





