:root {
--airbus-colour: #3978d6;
--boeing-colour: #e09e23;
--bombardier-colour: #e73d26;
--comac-colour: #d486db;
--embraer-colour: #5cc00a;
--atr-colour: #2a9d8f;
}

.paper {
  padding: 20px;
  font-family: "Roboto Condensed", sans-serif;
  max-width: 1800px;
  margin: auto;
  margin-bottom: 20px;
  margin-top: 70px;
}

infographic-grid {
  display: grid;
  gap: 2rem;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
}

.chart-title, .color-option {
  text-transform: uppercase;
  font-family: "RubikMonoOne", sans-serif;
  letter-spacing: -2px;
  line-height: 3rem;
  padding-bottom: 1rem;
}

.chart-title {
  font-size: 3rem;
}

/* flex is used to place the checkbox label to the right of the checkbox */
.color-option {
  font-size: 1.2rem;
  display: flex;
  flex-direction:row-reverse;
  justify-content: flex-end;
  gap: 10px;
}

.color-option input {
  transform: scale(1.5);
  margin-bottom: 4px;
  }

.chart-description {
  display: flex;
  gap: 4rem;
  line-height: 1.6rem;
  padding-bottom: 3.5rem;
}

/* define the isotype */
iso-container {
  border-radius: var(--chart-radius); 
  height: fit-content;
  padding-bottom: 30px;
}

/* Define the isotype header that includes the tailfin and airline name */
iso-header {
  height: 50px;
  font-size: 1.8rem;
  color: darkslategrey;
  display: flex;
  padding: 0 3px;
}

/* Give the tailfin a height*/
iso-tail img {
  height: 40px;
  display: block;
  filter: drop-shadow(0px 0px 1px rgb(0 0 0 / 0.5));
  opacity: 0.8;
}

/* Enable ellipsis for airline names */
iso-airline-name {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  align-self: flex-end;

}

isotype-🛧 {
  display: block;
  line-height: 14px;
  font-size: 16px;
  letter-spacing: -1px;
  font-family: "Noto-aircraft", sans-serif;
}

iso-footer {
  display: flex;
  margin-top: 5px;
  justify-content: space-between;
  line-height: 25px;
}

iso-total {
  font-size: 2.2rem;
  padding-top: 5px;
}

.show-footer {
  display: flex;
}

.footer-man-totals {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  font-size: 22px;
}

/* define the manufacturer svg fill colours */
/* These colours are overridden by a grey-fill in the Head of the HTML, that .grey-fill class is then removed via a checkbox and a script in the bottom of the page body*/


iso-container .airbus  {
  color: var(--airbus-colour);
}

iso-container .boeing  {
  color: var(--boeing-colour);
}

iso-container .bombardier  {
  color: var(--bombardier-colour);
}

iso-container .comac  {
  color: var(--comac-colour);
}

iso-container .embraer  {
  color: var(--embraer-colour);
}

iso-container .atr  {
  color: var(--atr-colour);
}

