:root {
--chart-radius: 5px;
--boeing-colour: #1D439C;
--airbus-colour: #5197ee;
--background-color: #EEECE7;
}

.paper {
  background: var(--background-color);
  padding: 20px;
  border-radius: var(--chart-radius); 
  font-family: "Roboto Condensed", sans-serif;
}

.chart {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1.1rem;
  font-family: "Roboto Condensed", sans-serif;
}

.chart-title, .chart-subtitle {
  text-transform: uppercase;
  font-family: "RubikMonoOne-Regular", sans-serif;
  letter-spacing: -2px;
}

.chart-title {
font-size: 2rem;
}

.chart-subtitle {
  font-size: 1.5rem;
}

.chart-description {
  display: flex;
  gap: 4rem;
  line-height: 1.5rem;
  padding-bottom: 3.5rem;
}

.key {
  display: flex;
  gap: 0.5rem;
  justify-content: center;
}

/* define the fleet container width */
.fleet-container {
  width: 186px;
  border-radius: var(--chart-radius); 
  font-size: 0px;
  height: fit-content;
  text-transform: uppercase;
}

/* set each SVG container (i.e. the div) as an inline block so they "word-wrap" correctly */
.fleet-container>span>div {
  display: inline-block;
  aspect-ratio: 1/1;
  width: 8px;
}

/* set the aircraft svg size and default fill color */
.fleet-container svg {
  fill: darkslategrey;
}


/* Define the fleet card header that includes the logo and airline name */
.fleet-header {
  height: 100px;
  font-size: 1.5rem;
  color: darkslategrey;
  display: grid;
  place-items: center;
  padding-top: 0.5rem;
}



/* format the airline number differently */
.fleet-header>div>span {
  color: lightslategray;
}

/* define the fleet card header logo */
.fleet-header>img {
  height: 40px;
  aspect-ratio: 1/1;
}

/* set styles for the flee-footer */
.fleet-footer-a,
.fleet-footer-b {
  height: 50px;
  Display: flex;
  justify-content: space-around;
  font-size: 1.5rem;
  color: lightslategray;
}

/* hide the b version by default i.e. the Airbus and Boeing totals */
.fleet-footer-b {
  display: none;
}

/* on hover, hide the A version */
.fleet-container:hover .fleet-footer-a {
  display: none;
}

/* Set transition for footer on-hover fade-in */
@keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

/* on hover, show the B version */
.fleet-container:hover .fleet-footer-b {
  animation: fadeIn 1.5s;
  display: flex;  /* this is needed as the current display: none */
}

/* Set the airbus footer text to airbus color */
.fleet-footer-b div:nth-child(1) {
color: var(--airbus-colour)
}

/* Set the Boeing footer text to Boeing color */
.fleet-footer-b div:nth-child(2) {
  color: var(--boeing-colour)
  }


/* define the aircraft SVG path in the CSS t0 keep it out of the HTML, I never knew you could do this  REMOVED AS ITS NOT SUPPORTED IN SAFARI */
/* .fleet-container svg path {
  d: path("M15.4 19.6a983 983 0 0 1-4.6-8.7s-.7.5-1.8 1.7c-1.7 1.7-1.8 1.8-1.8 2l.1 1.3.2 1.3-.7.7-.7.8-.9-1.6-.8-1.6-1.6-.9-1.6-.8.7-.8.7-.7 1.4.2 1.4.2 1.8-1.8L9 9 4.5 6.7.1 4.3l.9-.9 1-.9L7.3 4l5.4 1.5L15.2 3 18 .3l.5-.1c.4 0 .7 0 1 .4.2.2.3.4.3.8 0 .5 0 .5-2.8 3.3l-2.5 2.5 1 4.2c.7 2.3 1.3 4.7 1.4 5.4l.3 1-.9 1c-.6.7-.9.9-1 .8Z");
  
} */


/* define the airbus and Boeing svg fill colours (only on-hover of the fleet-container div) */
/* .fleet-container:hover > .boeing svg {
  fill: var(--boeing-colour);
}


.fleet-container:hover > .airbus svg {
  fill: var(--airbus-colour);
} */


/* define the airbus and Boeing svg fill colours */
.fleet-container .boeing svg {
  fill: var(--boeing-colour);
}


.fleet-container > .airbus svg {
  fill: var(--airbus-colour);
}

strong {
  color: firebrick;
}

