:root {
--chart-radius: 5px;
--background-color: #F8F3E9;

--airbus-colour: #6395a8;
--boeing-colour: #f4a261;
--bombardier-colour: #e76f51;
--comac-colour: #e9c46a;
--embraer-colour: #8ab17d;
--atr-colour: #2a9d8f;
}

.paper {
  background: var(--background-color);
  padding: 20px;
  border-radius: var(--chart-radius); 
  font-family: "Roboto Condensed", sans-serif;
  max-width: 1100px;
  margin: auto;
}

.chart {
  display: grid;
  gap: 1.5rem;
  grid-template-columns: repeat(auto-fit, minmax(190px, 1fr));  font-family: "Roboto Condensed", sans-serif;
}

.chart-title, .color-option {
  text-transform: uppercase;
  font-family: "RubikMonoOne-Regular", sans-serif;
  letter-spacing: -2px;
  line-height: 2.2rem;
  padding-bottom: 1rem;
}

.chart-title {
font-size: 2rem;
}

/* flex is used to place the checkbox label to the right of the checkbox */
.color-option {
  font-size: 1.2rem;
  display: flex;
  flex-direction:row-reverse;
  justify-content: flex-end;
  gap: 10px;
}

.color-option input {
transform: scale(1.5);
margin-bottom: 4px;
  }

.chart-description {
  display: flex;
  gap: 4rem;
  line-height: 1.5rem;
  padding-bottom: 3.5rem;
}

.key {
  display: flex;
  gap: 0.5rem;
  justify-content: center;
}

/* define the fleet container width */
.fleet-container {
  border-radius: var(--chart-radius); 
  height: fit-content;
  padding-bottom: 30px;

}

/* Define the fleet card header that includes the logo and airline name */
.fleet-header {
  height: 100px;
  font-size: 1.5rem;
  color: darkslategrey;
  text-transform: uppercase;
}

.fleet-header div {
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

/* format the airline number differently */
.fleet-header>div>span {
  color: lightslategray;
}

/* define the fleet card header logo */
.fleet-header img {
  max-height: 40px;
  max-width: 90px;
}

.isotype {
  line-height: 9px;
  font-size: 10px;
  letter-spacing: -1px;
  font-family: "Noto-aircraft";
}

.fleet-footer {
  margin-top: 5px;
  display: flex;
  justify-content: space-between;
  line-height: 20px;
}

.footer-total {
  font-size: 2rem;
  padding-top: 5px;
}

.footer-man-totals {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
/* used in the body text to show the aircraft glyphs */
.ac-glyph {
  font-family: "Noto-aircraft";
}


/* hide the b version by default i.e. the Airbus and Boeing totals
.fleet-footer-b {
  display: none;
}

/* on hover, hide the A version */
/* .fleet-container:hover .fleet-footer-a {
  display: none;
} */

/* Set transition for footer on-hover fade-in */
/* @keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
} */

/* on hover, show the B version */
/* .fleet-container:hover .fleet-footer-b {
  animation: fadeIn 1s;
  display: flex;  /* this is needed as the current display: none */
} */

/* Set the airbus footer text to airbus color */
/* .fleet-footer-b div:nth-child(1) {
color: var(--airbus-colour)
} */

/* Set the Boeing footer text to Boeing color */
/* .fleet-footer-b div:nth-child(2) {
  color: var(--boeing-colour)
  }  */




/* define the manufacturer svg fill colours */
/* These colours are overridden by a grey-fill in the Head of the HTML, that .grey-fill class is then removed via a checkbox and a script in the bottom of the page body*/


.fleet-container  .airbus  {
  color: var(--airbus-colour);
}

.fleet-container .boeing  {
  color: var(--boeing-colour);
}

.fleet-container  .bombardier  {
  color: var(--bombardier-colour);
}

.fleet-container  .comac  {
  color: var(--comac-colour);
}

.fleet-container  .embraer  {
  color: var(--embraer-colour);
}

.fleet-container  .atr  {
  color: var(--atr-colour);
}

