dialog::backdrop {
  background: rgba(0, 0, 0, 0.7);
  backdrop-filter: blur(4px);

}

dialog {

  border: solid white 2px;
  background: rgba(0, 0, 0, 0.904);
  margin: auto;
  border-radius: 10px;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 1);
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

}

form p {
  padding: 0rem 3rem;
  color: white;
}


form > footer {
margin-bottom: 1rem;
}







